.deposit{
    display: grid;
    gap: 10px;
    grid-template-columns:100%;
    grid-template-rows:repeat(2,1fr) ;
    padding: 20px;
  }
  #depositimg{
    height: 500px;
    width: 100%;
  }
  .deposit-img,.deposit-form{
    width: 100%;
  }
  form{
    width:100%;
  }
 

  @media screen and (min-width:768px) {
    .deposit{
      display: grid;
      gap: 10px;
      grid-template-columns:100%;
      grid-template-rows:repeat(2,1fr) ;
      padding: 10px;
    }
   
      
     
  }
  
  @media screen and (min-width:990px) {
    .deposit{
      display: grid;
      gap: 5px;
      grid-template-columns:repeat(2,1fr);
     
    }
    .deposit-form{
        width: 500px;
      }
      #label{
        margin-left: 5px;
       }
       #input{
        width:300px;
        margin-left: 50px;
      }
}